@CHARSET "UTF-8";


*, input
{
	font-family: Verdana;
	font-size: normal;
}

body
{
	margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}


h1
{
	margin: 0px 0px 20px 0px;
    padding: 10px 0px 10px 0px;
	color: #1C325B;
    text-align: center;
}
h2
{
	margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
    text-align: center;
}

nav
{
	text-align: center;
	margin: 0px 0px 20px 0px;
    padding: 0px 0px 0px 0px;
    background-color: #1C325B;
    box-shadow: 0px 5px 5px black;
    height: 40px;
}

nav div
{
	display: inline-block;
}
nav div.menuitem
{
    vertical-align: top;
    height: 38px:
}

nav div.menuitem:hover
{
	background-color: #F37605;
}

nav div a
{
    padding: 10px 20px 10px 20px;
	color: white;
	text-decoration: none;
	font-width: large;
	display: inline-block;
	
}

nav div.splitter
{
    padding: 0px;
    margin: 0px;
	witdh: 2px;
	height: 38px;
    display: inline-block;
	border: solid 1px white;
}

section
{
    position: relative;
    margin: 0px auto;
    padding: 0px;
    text-align: right;
}

fieldset
{
    border: solid 1px black;
    border-radius:5px;
    margin: 0px auto;
    width: 520px;
}

input
{
	display: inline-block;
	width: 300px;
}

select
{
    display: inline-block;
    width: 308px;
}

fieldset label
{
	width: 250px;
}

table td
{
	text-align: left;
}

table.listing
{
	border: solid 2px black;
	padding: 0px 0px 0px 0px;
	border-collapse: collapse;
	margin: auto;
}

table.listing tr
{
    border-bottom: solid 1px black;
    padding: 5px 10px 5px 10px;
    margin: 0px 0px 0px 0px;
}

table.listing tr:nth-of-type(even)
{
    background-color: #CCCCCC;
}
table.listing tr:nth-of-type(odd)
{
    background-color: #F0F0F0;
}
table.listing tr th
{
	background-color: #333333;
    padding: 5px 10px 5px 10px;
	color: white;
}
table.listing tr td
{
	padding: 5px 10px 5px 10px;
}

a.action
{
	margin: 5px 5px 5px 5px;
}
a.action img
{
	width: 25px;
	height: 25px;
}

.buttonline
{
	text-align: center;
	padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
}

.button
{
	background-color: #1C325B;
	border: solid 1px #1C325B;
	border-radius: 5px;
	margin: 10px 10px 10px 10px;
	padding: 5px 10px 5px 10px;
	text-decoration: none;
	color: white;
	width: 120px;
	height: 30px;
	font-size: 14px;
}

.button:hover
{
    background-color: #F37605;
    border: solid 1px #F37605;
}

.button#addnewuser
{
	text-align: center;
}

.button#deleteuser
{
	left: 5px;
}

.button#saveuser
{
	right: 5px;
}

p.error
{
	font-weight: bold;
	color: red;
	text-align: center;
	
}

header
{
    background-color: white;
    padding: 10px 30px 10px 30px;
}

header figure, header section
{
    display: inline-block;
    height: 70px;
    position: absolute;
    top: 10px;
}

header figure
{
    left: 30px;
}

header section
{
    right: 30px;
}

header section div.line p, header section form
{
    display: inline-block;
    width: inherit;
    line-height: 0%;
    padding: 0px;
    margin: 0px;
    height: 10px;
    border: solid 1px red;
}

header section form input
{
	width: 100px;
}