@CHARSET "UTF-8";

*
{
    font-family: Arial;
	font-size: normal;
    color: #1C325B;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

body
{
    background-color: #F3F5F4;
}

header
{
    background-color: white;
    padding: 10px 30px 10px 30px;
    position: relative;
    height: 100px;
}

header img, header section, header h1
{
    display: inline-block;
    position: absolute;
    top: 10px;
    
}

header img
{
	left: 30px;
}

header section
{
	right: 30px;
}
header section div.line p
{
    display: inline-block;
    width: inherit;
    line-height: 0%;
}

p.label
{
    font-weight: bold;
    text-align: right;
}


header h1
{
	color: #1C325B;
	left: 0px;
	right: 0px;
	text-align: center;
}

nav
{
    position: relative;
    background-color: #1C325B;
    text-align: center;
}

nav h1
{
	color: white;
	font-size: large;
	padding: 5px 0px 5px 0px;
}

nav div.menuitem
{
    display: inline-block;
    padding: 5px 0px 5px 0px;
}


nav div.menuitem a
{
    text-decoration: none;
    color: white;
    padding: 5px 15px 5px 15px;
    font-size: large;
}
nav div.menuitem a:hover
{	
	background-color: #F16800;
}

nav form
{
	display: inline-block;
	position: absolute;
	top: 5px;
	right: 10px;
}

div.main
{
	background-color: #F3F5F4;
	heigkt: 100%;
	margin: 10px 10px 10px 10px;
}

/* Formulaire de login */
form.login
{
    position:relative;
    top: 100px;
    margin: auto;
    width: 350px;
}

form.login fieldset
{
    height: 150px;
    border: solid 2px #1C325B;
    border-radius: 10px;
    background-color: white;
    padding: 10px 10px 10px 10px;
}

form.login div.formline
{
    padding: 5px 0px 5px 0px;
    position: relative;
}

form.login input.input
{
    position:absolute;
    right: 10px;
}

form.login label
{
    position: relative;
    left: 10px;
}

form.login p
{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: red;
    font-weight: bold;
}

form.login div.formline:last-child
{
    text-align: center;
}

form.login input.button
{
    width: 120px;
    padding: 5px 20px 5px 20px;
    margin: 0px auto;
}
/*
nav h1
{
    font-size: large;
    padding: 5px 0px 5px 0px;
    color: white;
}

nav div.menuitem
{
    display: inline-block;
    padding: 5px 0px 5px 0px;
}


nav div.menuitem a
{
    text-decoration: none;
    color: white;
    margin: 0px 15px 0px 15px;
    font-size: large;
}

nav button
{
    position: absolute;
    top: 5px;
    right: 10px;
}
h2
{
	margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
    text-align: center;
}


nav div.splitter
{
    padding: 0px;
    margin: 0px;
	witdh: 2px;
	height: 38px;
    display: inline-block;
	border: solid 1px white;
}

section
{
    position: relative;
    margin: 0px auto;
    padding: 0px;
    text-align: right;
}

fieldset
{
    border: solid 1px black;
    border-radius:5px;
    margin: 0px auto;
    width: 520px;
}

input
{
	display: inline-block;
	width: 300px;
}

select
{
    display: inline-block;
    width: 308px;
}

fieldset label
{
	width: 250px;
}

table td
{
	text-align: left;
}

table.listing
{
	border: solid 2px black;
	padding: 0px 0px 0px 0px;
	border-collapse: collapse;
	margin: auto;
}

table.listing tr
{
    border-bottom: solid 1px black;
    padding: 5px 10px 5px 10px;
    margin: 0px 0px 0px 0px;
}

table.listing tr:nth-of-type(even)
{
    background-color: #CCCCCC;
}
table.listing tr:nth-of-type(odd)
{
    background-color: #F0F0F0;
}
table.listing tr th
{
	background-color: #333333;
    padding: 5px 10px 5px 10px;
	color: white;
}
table.listing tr td
{
	padding: 5px 10px 5px 10px;
}

a.action
{
	margin: 5px 5px 5px 5px;
}
a.action img
{
	width: 25px;
	height: 25px;
}

.buttonline
{
	text-align: center;
	padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
}

.button
{
	background-color: #1C325B;
	border: solid 1px #1C325B;
	border-radius: 5px;
	margin: 10px 10px 10px 10px;
	padding: 5px 10px 5px 10px;
	text-decoration: none;
	color: white;
	width: 120px;
	height: 30px;
	font-size: 14px;
}

.button:hover
{
    background-color: #F37605;
    border: solid 1px #F37605;
}

.button#addnewuser
{
	text-align: center;
}

.button#deleteuser
{
	left: 5px;
}

.button#saveuser
{
	right: 5px;
}

p.error
{
	font-weight: bold;
	color: red;
	text-align: center;
	
}

header
{
    background-color: white;
    padding: 10px 30px 10px 30px;
}

header figure, header section
{
    display: inline-block;
    height: 70px;
    position: absolute;
    top: 10px;
}

header figure
{
    left: 30px;
}

header section
{
    right: 30px;
}

header section div.line p, header section form
{
    display: inline-block;
    width: inherit;
    line-height: 0%;
    padding: 0px;
    margin: 0px;
    height: 10px;
    border: solid 1px red;
}

header section form input
{
	width: 100px;
}

input.btn
{
	width: 25px;
	height: 25px;
	background-size : 25px 25px;
	background-repeat: no-repeat;
	background-color : transparent;
	border: none;
	color: transparent;
}

input.view
{
	background-image:url(../IMG/loupe.png);
	
}
input.del
{	
	background-image:url(../IMG/delete.png);
}
*/
