*
{
    margin: 0px 0px 0px 0px;
	font-family: Arial;
	background-color: #EEEEEE;
}


header
{
	background-color: #30DFB0;
	height: 60px;
}
footer
{
    height: 50px;
}

p, legend
{
	text-align: center;
}

header p
{
    background-color: inherit;
	position: relative;
	top: 20px;
	color: #FFFFFF;
	font-size: x-large;
	font-weight: bold;
}

footer p
{
    background-color: inherit;
    position: relative;
    top: 20px;
}
main
{
	margin: auto;
    width: 900px;
}

figure
{
	width: 140px;
	height: 200px;
	display: inline-block;
	margin: 20px 30px 20px 30px;
    padding: 10px 10px 10px 10px;
    box-shadow: 5px 5px 3px #333333;
}

/*figure:first-child, figure:nth-of-type(3n)
{
	transform:rotate(4deg);
}
figure:nth-of-type(2n), figure:nth-of-type(5n)
{
    transform:rotate(-4deg);
}*/
figure:nth-of-type(5n+1), figure:nth-of-type(5n+3), figure:nth-of-type(5n+5)
{
    transform:rotate(4deg);
}
figure:nth-of-type(5n+2), figure:nth-of-type(5n+4), figure:nth-of-type(5n)
{
    transform:rotate(-4deg);
}

figure:hover
{
    transform:scale(1.2);
}

figure, figure *
{
    background-color: white;
    transition: all 0.2s;
}

figure img
{
    position: relative;
    width: 140px;
    height: 170px;
	
}